<h1 class="center">Answers list</h1>

<div class="row form-group">
  <%= link_to icon('plus') + " Add answer", new_answer_path, class: "btn btn-primary btn-block" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Nn Questions</th>
      <th>Questions</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= cl_image_tag(answer.picture, :width => 70, :height => 70,
          :crop => :thumb, :gravity => :face, :radius => :max, class: "img-circle") %></td>
        <td><h3 class="btn btn-primary"><%= link_to answer.name , edit_answer_path(answer) %></h3></td>
        <td><%= answer.questions.count %></td>
        <td>
            <% answer.questions.each do |question| %>
            <%= cl_image_tag(question.picture, :width => 80, :height => 80, class: "img-rounded") %>
              <% end %>
        </td>
        <td><%= link_to icon('trash'), answer_path(answer),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-primary btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

