<!DOCTYPE html>
<html>
<head>
  <title>SNSTS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="container">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>

  <script>
  var ready = function() {
  $('label').on('change', function() {
    $('form').submit();
  });

  $(function () {
    $('[data-toggle="popover"]').popover('show')
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);

  </script>
</body>
</html>
